<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please register with this link
        <a target="_blank" class="font-weight-bold" href="https://accounts.binance.com/en/register?ref=81888709">referral</a>
    </span>
    and tell me if you want to use the bot ?.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
