@inherits LayoutComponentBase

<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 d-flex align-items-center justify-content-end" style="padding-left: 0px; padding: 0px; margin: 0px">
    <div class="row col-12 flex-row" style="margin: 0px; padding: 0px;">
        <div class="col-4 flex-row" style="display: inline-flex; text-align: center; background-color: rgba(255, 160, 32, 0.5)">
            <RadzenText Text=@_priceBTC Style="margin: auto; padding: auto; background-color: rgba(255, 160, 32, 0.5)" />
        </div>
        <div class="col-4 flex-row" style="display: inline-flex; text-align: center; background-color: rgba(210, 207, 0, 0.5)">
            <RadzenText Text=@_priceBNB Style="margin: auto; padding: auto; background-color: rgba(210, 207, 0, 0.5)" />
        </div>
        <div class="col-4 flex-row" style="display: inline-flex; text-align: center">
            <RadzenText Text=@_priceETH Style="margin: auto; padding: auto" />
        </div>
    </div>
</div>

